{% load static %}
<html lang="en-US">

    <head>
        <meta charset="UTF-8">
        <title>Home</title>
        <link rel="stylesheet" id="ample-style-css" href="{% static 'style.css' %}" type="text/css" media="all">
    </head>

    <body class="wide">
        <div id="page" class="hfeed site">
            <header>
                <div class="header">
                    <div class="main-head-wrap inner-wrap clearfix">
                        <div id="header-logo-image">
                            <a href="/">
                                <img src="{% static 'images/pet-logo.png' %}" alt="Wisdom Pet Medicine">
                            </a>
                        </div>
                        <div id="header-text" class="">
                            <h1 id="site-title">
                                <a href="/" title="Wisdom Pet Medicine" rel="home">Veterinaria Virasoro</a>
                            </h1>
                            <p>Tratamos a su mascota como si fuera la nuestra.</p>
                        </div>
                    </div>
                    <img src="{% static 'images/pet-logo2.jpeg' %}" alt="Wisdom Pet Medicine" class="center">
                </div>
            </header>

            <div class="main-wrapper">
                <div class="single-page clearfix">
                    <div class="inner-wrap">
                        <p id="texto"><strong>En nuestra veterinaria encontrará todo lo necesario para sus mascotas, 
                            así como atención médica, peluquería, baños, entre otros.</strong></p>
                        <hr>
                        <div>
                        {% block content %}
                            
                        {% endblock %}
                        </div>
                    </div>
                </div>
            </div>

            <footer id="colophon">
                <div class="inner-wrap">
                    Medicina de mascotas</div>
            </footer>

        </div>
        <script src="{% static 'main.js' %}"></script>
    </body>
</html>